@import '../../SaaSAssets/variable.scss';
header{
    height: 100vh;
    min-height: 594px;
    padding-top: 6rem;
    overflow: hidden;
    // border: 1px solid green;
}
.header__container{
    height: 100%;
    text-align: center;
    position: relative;
}
.cta{
    margin-top: 2rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    // border: 1px solid red;
}

.header__social{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0px;
    bottom: 3rem;
    align-items: center;
    gap: 0.5rem;
    // border: 1px solid red;
    a{
        svg{
            color:$color-primary;
            font-size: 1rem;
            border-radius: 20%;
            transition: color 1s;
            transition: transform 0.6s ease-out, scale 0.6s ease-in-out;
            
        }
        
        
    }
    .linkedin > svg:hover {
        color: #007bb6;
        transform: scale(1.15);
    }
    .github > svg:hover {
        color: grey;
        transform: scale(1.15);
    }
}

.header__social::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: $color-primary;

}
.image-rectangle{
        // background: #EB3349;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        z-index: 3;
        border-radius: 30% 30% 70% 70% / 30% 70% 70% 30% ;
        width: 222px;
        height: 264px;
        position: absolute;
        left: calc(50% - 111px);
        bottom: 0;
        
        overflow: hidden;
        > img{
            width: 100%;
            height: 100%;
            transform: translateX(-10px) translateY(6px) scale(1.09);
        }
}
.scroll__down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 4px;
}

@media screen and (max-width:1024px) {
    header{
       

    }
    .header__container{
       
    }
}
@media screen and (max-width:600px) {
    header{
        height: 90vh;
    }
    .header__container{
        // background-color: rgb(239, 150, 150);
        .image-rectangle{
            opacity: 0.9;
            top: 45%;
            left: calc(50% - 101px);
            width: 202px;
            height: 244px;
        }
        .header__social,.scroll__down{
            display: none;
        }
    }
}